.dragon-item-card {
  background-color: green;
  color: aliceblue;
  border: solid green 1px;
  border-radius: 10px;
  margin-bottom: 15px;
  min-height: 40px;
  padding: 5px;
}

.dragon-text {
  margin-bottom: 10px;
}

.dragon-input {
  width: 150px;
}

.dragon-button-card {
  background-color: rgb(148, 227, 68);
  border: solid rgb(148, 227, 68) 1px;
  border-radius: 7px;
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
  min-height: 40px;
  padding: 5px;
  width: 85px;
}