.dragon-create-label {
  margin-top: 25px;
}

.dragon-create-input {
  width: 280px;
  height: 40px;
  font-size: 20px;
  background-color: rgb(195, 234, 195);
  margin-bottom: 25px;
  border-color: rgb(195, 234, 195);
}

.dragon-create-button {
  width: 280px;
  height: 40px;
  font-size: 20px;
  background-color: lawngreen;
  border-radius: 5px;
  color: ivory;
  margin-top: 35px;
  border-color: lawngreen;
}