.login-title {
  text-align: center;
  margin-bottom: 50px;
}

.login-label {
  margin-top: 25px;
}

.error-menssage {
  color: red;
}

.login-input {
  width: 280px;
  height: 40px;
  font-size: 20px;
  background-color: rgb(195, 234, 195);
  margin-bottom: 25px;
  border-color: rgb(195, 234, 195);
}

.login-button {
  width: 280px;
  height: 40px;
  font-size: 20px;
  background-color: lawngreen;
  border-radius: 5px;
  color: aliceblue;
  margin-top: 35px;
  border-color: lawngreen;
}